<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Commute Logger</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css">

</head>

<body>
  <div class="wrapper">
    
    <header>
      <img src="/images/Logo.png" alt="commuter logger logo">

      <h1>
        <a href="/">Commute Logger</a>
      </h1>

      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>

    </header>
    
    <main>

      {{{ body }}}
    </main>
    
    <footer>
      Have a safe drive! 
    </footer>

  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{!-- <script src="toastr.js"></script> --}}
 
  {{/if}}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>

</body>

</html>