<section>
    <h2>Add New Commute</h2>
    <form class="new-commute-form">
        <div>
            <label for="commute">Commute:</label>
            <input type="number" id="commute" name="commute" />
        </div>
        <button type="submit" class="btn">Add Commute</button>
    </form>
</section>

<script src="/javascript/add-commute.js"></script>