<div class="dashboard">
{{#if cars.length}}
<section>

    {{!-- image car icon--}}

    <img src="/images/commute log.png" width="100rem" height="100rem" alt="car list icon" id="car-list-icon">

    <h2>Your Cars</h2>
    <ol>
        {{#each cars as |car|}}
        <li>
            {{> car-info car}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<section>

    {{!-- image new car icon--}}
    <img src="/images/car 2.png" width="100" height="100" alt="car icon" id="car-icon">

    <h2>Add New Car</h2>
    <form class="new-car-form">
        <div>
            <label for="car-make">Make:</label>
            <input type="text" id="car-make" name="car-make" />
        </div>
        <div>
            <label for="car-model">Model:</label>
            <input type="text" id="car-model" name="car-model" />
        </div>
        <div>
            <label for="car-year">Year:</label>
            <input type="number" id="car-year" name="car-year" />
        </div>
        <div>
            <label for="car-mpg">MPG:</label>
            <input type="number" id="car-mpg" name="car-mpg" />
        </div>
        <div>
            <button type="submit">Add Car</button>
        </div>
    </form>
</section>

<canvas id="dashChart" width="400" height="400"></canvas>
</div>

<script src="/javascript/add-car.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascript/dash-chart.js"></script>
