<section>
    <h2>Add New Gas Entry</h2>
    <form class="new-gas-form">
        <div>
            <label for="gas-price">Gas Price:</label>
            <input type="number" id="gas-price" name="gas-price" />
        </div>
        <button type="submit" class="btn">Add Gas Price</button>
    </form>
</section>

<script src="/javascript/add-gas.js"></script>