<div>
    <h1>Welcome to !</h1>
    <img src = "/images/redcar.png">
    <h2>The following section shows the drivers who have the highest commute and could potentially benefit from an electric car.</h2>
</div>
<div>
    <h2>This section shows the highest gas prices per the user.</h2>
</div>
