<div>
    <h1>The following section shows the drivers who have the highest commute and could potentially benefit from an electric car.</h1>
</div>
<div>
    <h1>This section shows the highest gas prices per the user.</h1>
</div>

<canvas id="homeChart" width="400" height="400"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascript/home-chart.js"></script>