{{!-- Information of Selected Car - and Forms for New Entries (Gas & Commute)--}}
<section class="car-styles">
    <section>
    <h3>Current Selected Car:</h3>
    <h3>{{car.Make}} {{car.Model}} {{car.Year}}</h3>
    </section>
    <section>

        {{!-- image commute icon--}}
        <img src="/images/commute 1.png" width="100" height="100" alt="commute icon" id="commute-icon">

        {{!-- New Commmute Entry--}}
        <h2>Add A New Commute</h2>
        <form class="new-commute-form">
            <div>
                <label for="commute">Enter Your Commute: (miles)</label>
                <input type="number" id="commute" name="commute" />
            </div>
            <button type="submit">Add Commute</button>
        </form>
    </section>
    <section>

    {{!-- image gas icon--}}
    <img src="/images/gas black.jpg" width="100" height="100" alt="gas pump icon" id="gas-icon">

     {{!-- New Gas Entry--}}
    <h2>Add New Gas Entry</h2>
    <form class="new-gas-form">
        <div>
            <label for="gas-price">Enter Your Gas Price: (US dollars) </label>
            <input type="decimal" id="gas-price" name="gas-price" />
        </div>
        <button type="submit" class="btn">Add Gas Price  </button>
    </form>
</section>

    {{#if commutes.length}}
    <div>
        {{!-- image commute list icon--}}
        <img src="/images/commute 2.png" width="100" height="100" alt="commute list icon" id="commute-list-icon">

        <h2>Car's Commutes</h2>
        <ol>
            {{#each commutes as |commute|}}
            <li>
                {{> commute-info commute}}
            </li>
            {{/each}}
        </ol>
    </div>
    {{/if}}

    {{#if gas.length}}
    <div>
        {{!-- image gas list icon--}}
        <img src="/images/gas full empty.png" width="100" height="100" alt="gas list icon" id="gas-list-icon">
        
        <h2>Car's Gas Prices</h2>
        <ol>
            {{#each gas}}
            <li>
                {{> gas-info }}
            </li>
            {{/each}}
        </ol>
    </div>
    {{/if}}
</section>

<script src="/javascript/add-commute.js"></script>
<script src="/javascript/add-gas.js"></script>