<section>
    <h2>{{car.Make}} {{car.Model}} {{car.Year}}</h2>
    <section>
        <h2>Add A New Commute</h2>
        <form class="new-commute-form">
            <div>
                <label for="commute">Commute:</label>
                <input type="number" id="commute" name="commute" />
            </div>
            <button type="submit">Add Commute</button>
        </form>
    </section>
    <section>
    <h2>Add New Gas Entry</h2>
    <form class="new-gas-form">
        <div>
            <label for="gas-price">Gas Price:</label>
            <input type="decimal" id="gas-price" name="gas-price" />
        </div>
        <button type="submit" class="btn">Add Gas Price</button>
    </form>
</section>

    {{#if commutes.length}}
    <div>
        <h2>Car's Commutes</h2>
        <ol>
            {{#each commutes as |commute|}}
            <li>
                {{> commute-info commute}}
            </li>
            {{/each}}
        </ol>
    </div>
    {{/if}}

    {{#if gas.length}}
    <div>
        <h2>Car's Gas Prices</h2>
        <ol>
            {{#each gas}}
            <li>
                {{> gas-info }}
            </li>
            {{/each}}
        </ol>
    </div>
    {{/if}}
</section>

<script src="/javascript/add-commute.js"></script>
<script src="/javascript/add-gas.js"></script>