* {
  box-sizing: border-box;
}
:root {
    --primary-color: black;
     --secondary-color: #829399;
    --tertiary-color: #D0F4EA;
    --fourth-color: #E8FCC2;
    --fifth-color: #B1CC74;

  }
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--primary-color);
}
header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: var(--secondary-color);
    font-size: 110%;
  }
a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: var(--teritary-color);
}

button {
    border: none;
    background-color: var(--secondary-color);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: var(--tertiary-color);
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    /* padding: 14px 34px; */
    text-align: center;
    cursor: pointer;
}

button:hover {
  background-color: var(--fifth-color);
}

.car-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

/* .wrapper {
  width: 100%;
  min-height: 100%;
  /* max-width: 1200px; */
  /* margin: 0 auto;
  display: flex;
  flex-direction: column;
} */ 

/* header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
} */

header h1 {
  font-size: 1em;
}

main {
  /* flex: 1; */
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.homeChartContainer {
  height: 100%;
  width: 100%;
}


.car {
  margin-bottom: 2%;
  line-height: 150%;
}

/* .car .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
} */

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}


.commute-link {
  margin-bottom: 5%;
}

.commute {
  padding: 1%;
  margin-bottom: 1%;
}

.commute:nth-child(odd) {
  background-color: #fff5eb;
}

.commute .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-car-form input {
  width: 300px;
}

/* .edit-car-form {
  margin-bottom: 5%;
} */

footer {
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

.dashboard {
  display:flex;
  padding: 2em 16em;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

.login-style {
  display:flex;
  padding: 2em 20em;
  flex-direction: row;
  justify-content: space-evenly;
}